body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  background: rgb(89, 88, 83);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
